<head>
    <title>Marvi ilustraciones</title>
    <meta name="description" content="Yo soy Marvi, un ilustrador que te hara ver el mundo con otros ojos. Pasa a ver mi Porfolio">
      <meta property="og:title" content="Marvi Art">
      <meta property="og:description" content="Marvi Art, ilutrador Freelance">
      <meta property="og:image" content="./fotos/toon-myself.png">
      <meta name="robot" content="index">
      <meta name="keywords" content="ilustraciones, ilustrador, animado, dibujo, marvi">
      <meta name="author" content="MarviArt">
      <meta property="twitter:image" content="./fotos/toon-myself.png">
      <meta property="twitter:title" content="Marvi Art">
      <meta property="twitter:description" content="Marvi Art, ilutrador Freelance">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
	<!----- viewport para apple device-width = ancho pantalla initial-scale es que inicia sin ningún zoom --> 
    <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
	<!----- icono para apple y safari --> 
    <link rel="shortcut icon" type="image/x-icon" href="./fotos/favicon (1).png">
    <!-- Load Require CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
	    <!-- iconos  -->
    <link href="/assets/css/boxicon.min.css" rel="stylesheet">
	    <!-- tipo de letra -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400;1,500&display=swap" rel="stylesheet">
		<!-- carga CSS -->
    <link rel="stylesheet" href="/assets/css/estilos.css">
     <!--fontawesone-->
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>