<!DOCTYPE html>
<html lang="es">
{{>head}}

<body>
    <!-- Header -->
  {{>nav}}
    <!-- Close Header -->


    <!-- Start Banner Hero -->
    <section id="sobremi" class="bg-light w-100">
            <div class="row d-flex align-items-center py-0 px-1">              
                <div class="col-lg-12 img-fluid">
                    <img class="img-fluid" src="./fotos/ballena-entero - Copy (1).png">
                </div>
                <div class="marian img-fluid position-absolute top-50 start-50 translate-middle">
                    
                </div>
            </div>
        
    </section>
    <!-- End Banner Hero -->


    <!-- Start Team Member -->
    <section class="container py-0">
        <div class="pt-5 pb-3 d-lg-flex align-items-center gx-5">

            <div class="col-lg-10 m-auto text-justify">
                <h2 class="h2 py-5 typo-space-line">Sobre Mi</h2>
        
                <p class="text-dark light-300 ">
                    Mi nombre es Mariano Villegas y soy ilustrador.
                </p>
                <br>
                <p class="text-dark  light-300 ">
                    Tengo 23 años y desde muy chico me he interesado en el arte, intrigado por el  mismo, puse todo mi empeño en aprender y asi lograr un desarrollo como profesional, tomando cursos, yendo a la universidad y practicando día y noche. 
                </p>
                <br>
                <p class="text-dark light-300 ">
                    Hace ya casi un año Marvi nace como una forma de mostrar el mundo con mis propios ojos, trasmitir mis sentimientos ,ideas ,pensamientos y que aquel que lo vea se sienta reflejado en el mismo. Hoy en dia puedo decir que estoy muy contento con mi progreso.
                </p>
                <br>
                <p class="text-dark light-300 ">
                    Mis ilustraciones son con un estilo infantil/juvenil, mostrando muchas veces ternura y fragilidad en cada obra. 
                </p>
                <br>
                <p class="text-dark light-300 ">
                    Me esfuerzo para lograr un proyecto optimo con la combinación de un trabajo intenso y responsabilidad con cada cliente, para poder arribar a soluciones de diseño que combinen originalidad, funcionalidad y pertinencia estética.
                 </p>
                 <br>
                 <p class="text-dark light-300 ">
                    A través de mi estilo te quedara una ilustración totalmente única, siempre coordinando para poder satisfacer todas tus necesidades, sin perder la esencia de la foto inicial.
                 </p>

            </div>

           
        </div>
    </section>
    <!-- End Team Member -->

     <!-- Start Footer -->
{{>footer}}
    <!-- End Footer -->


    <!-- Bootstrap -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>


</body>

</html>