<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    <!-- Header -->
    {{>nav}}
    <!-- Close Header -->

  <section class="container py-2 "></section>
    {{#if fotos}}
    {{#each foto}}

    <!-- Start Our Work -->
   
        <div  class="row projects gx-lg-5">
            <a href="#imagen" class="col-sm-6 col-lg-3 text-decoration-none project cultura">
                <div class="service-work overflow-hidden card mb-5 mx-5 m-sm-0">
                    <img loading="lazy" class="card-img-top"  src="/uploads/{{foto}}" alt="...">
                </div>
        </div>

     {{/each}}
    {{/if}}
    </section>
    <!-- End Our Work -->
  <!--Start transition-->
    <section class="transicionfotos">
    {{#if fotos}}
    {{#each foto}}
        <article class="light-box" id="imagen">
            <img src="/uploads/{{foto}}" alt="">
            <a href="#" class="close">X</a>
        </article>
    {{/each}}
    {{/if}}

    </section>

   




  <!--End transition-->


   <!-- Start Footer -->
{{>footer}}
    <!-- End Footer -->



    <!-- Bootstrap -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <!-- Lightbox -->
    <script src="assets/js/fslightbox.js"></script>
    <script>
        fsLightboxInstances['gallery'].props.loadOnlyCurrentSource = true;
    </script>
    <!-- Load jQuery require for isotope -->
    <script src="assets/js/jquery.min.js"></script>
    <!-- Isotope -->
    <script src="assets/js/isotope.pkgd.js"></script>
    <!-- Page Script -->
    <script>
        $(window).load(function() {
            // init Isotope
            var $projects = $('.projects').isotope({
                itemSelector: '.project',
                layoutMode: 'fitRows'
            });
            $(".filter-btn").click(function() {
                var data_filter = $(this).attr("data-filter");
                $projects.isotope({
                    filter: data_filter
                });
                $(".filter-btn").removeClass("active");
                $(".filter-btn").removeClass("shadow");
                $(this).addClass("active");
                $(this).addClass("shadow");
                return false;
            });
        });
    </script>


</body>

</html>